<div class="section list_heading_section">
  <h2><%= "リスト：#{@list.title}" %></h2>
  <div class="link_bar">
    <% if user_signed_in? && current_user.id == @list.user_id %>
        <%= link_to "リスト編集", edit_list_path(@list.id) %>
        <%= link_to "リスト削除", list_path(@list.id), method: :delete, data: { confirm: "このリストを削除してもよろしいですか？\nリスト内のアイテムも全て削除されます。" } %>
    <% end %>
    <span><%= "作者名：" %><%= link_to @list.user.user_name, user_path(@list.user_id) %></span>
  </div>
</div>

<%# app/helpers/application_helper.rb(safe_linebreak) ：レコードカラム内の改行を、HTML上で安全に表示させる。 %>
<div class="section list_concept_section">
  <h4>●コンセプト<span class="note"> （表示しきれない場合はスクロール可）</span></h4>
  <p class="text"><%= safe_linebreak(@list.concept) %></p>
</div>

<div class="section list_rule_section">
  <h4>●リスト作成ルール<span class="note"> （表示しきれない場合はスクロール可）</span></h4>
  <p class="text"><%= safe_linebreak(@list.rule) %></p>
</div>

<div class="section list_items_section">
  <h4>●アイテム（リスト内項目）一覧</h4>
  <p class="note">
    ※画像を原寸大サイズで表示：画像を右クリック→「新しいタブで画像を開く」をクリック。<br>
    ※指定したタグのスコア順にアイテムを並び替え：タグ名をクリック→「並び替え（タグスコア）」をクリック。<br>
    ※リスト作者のみ、アイテムの順番を自由に指定・保存：「並び替え（作者指定順） ▲」の状態で、各アイテムをドラッグ＆ドロップ。
  </p>

  <div class="link_bar">
    <% if user_signed_in? && current_user.id == @list.user_id %>
      <%= link_to "アイテム新規投稿", new_list_item_path(list_id: @list.id), id: "js_link_new_item" %>
    <% end %>
    <%= "投稿総数：#{@items.count}" %>
    <%= sort_link(@q, :row_order, "並び替え（作者指定順）") %>
    <%= sort_link(@q, :item_name, "並び替え（アイテム名）") %>
    <%= sort_link(@q, :updated_at, "並び替え（アイテム更新日時）") %>
  </div>

  <%= render "shared/item_table" %>
</div>
