<div class="section users_heading_section">
  <h2>ユーザー一覧</h2>
</div>

<div class="section users_section">
  <h4>●リストを投稿したユーザー一覧</h4>
  <div class="link_bar">
    <%= "ユーザー総数：#{@users.count}" %>
    <span class="note">※列の見出しリンクをクリックして並び替え。</span>
  </div>

  <table class="user_table">
    <thead>
      <tr>
        <th class="user_name_th"><%= sort_link(@q, :user_name, "ユーザー名") %></th>
        <th class="user_profile_th">自己紹介</th>
        <th class="list_title_th"><%= sort_link(@q, :latest_list_title, "最新リストタイトル") %></th>
        <th class="list_updatedAt_th"><%= sort_link(@q, :latest_list_updated_at, "リスト更新日時") %></th>
      </tr>
    </thead>

    <%# app/helpers/application_helper.rb(safe_linebreak) ：レコードカラム内の改行を、HTML上で安全に表示させる。 %>
    <%# config/application.rb(time_zone), config/initializers/time_formats.rb(:datetime_jp) ：更新日時のJST表示(並び替え用) %>
    <tbody>
      <% @users.each_with_index do |user, i| %>
        <tr id=<%= "user_tr#{i+1}_id#{user.id}" %>>
          <td class="user_name_td"><%= link_to user.user_name, user_path(user.id) %></td>
          <td class="user_profile_td js_show_more_list">
            <div class="show_more_gradation"></div>
            <div class="show_more_button"></div>
            <div class="show_more_content"><%= safe_linebreak(user.profile) %></div>
          </td>
          <td class="list_title_td"><%= link_to user.latest_list.title, list_path(user.latest_list.id) %></td>
          <td class="list_updated_at_td"><%= user.latest_list.updated_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
