<div class="section user_heading_section">
  <h2><%= "ユーザー詳細：#{@user.user_name}" %></h2>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div class="link_bar">
      <%= link_to "ユーザーアカウント編集", edit_user_registration_path %>
      <%= link_to "ユーザーアカウント削除", user_registration_path, method: :delete, data: { confirm: "ユーザーアカウントを削除してもよろしいですか？\n投稿したリスト・アイテム・スコアも全て削除されます。" } %>
    </div>
  <% end %>
</div>

<%# app/helpers/application_helper.rb(safe_linebreak) ：レコードカラム内の改行を、HTML上で安全に表示させる。 %>
<div class="section user_contact_section">
  <h4>●連絡先<span class="note"> （表示しきれない場合はスクロール可）</span></h4>
  <p class="text"><%= safe_linebreak(@user.contact) %></p>
</div>

<div class="section user_profile_section">
  <h4>●自己紹介<span class="note"> （表示しきれない場合はスクロール可）</span></h4>
  <p class="text"><%= safe_linebreak(@user.profile) %></p>
</div>

<div class="section user_lists_section">
  <h4>●ユーザーが投稿したリスト一覧</h4>
  <div class="link_bar">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "リスト新規投稿", new_list_path %>
    <% end %>
    <%= "投稿総数：#{@lists.count}" %>
    <span class="note">※列の見出しリンクをクリックして並び替え。</span>
  </div>

  <%= render "shared/list_table" %>
</div>
