<header class="global_nav">
  <div class="link_bar">
    <%= link_to "リスト一覧", lists_path %>
    <%= link_to "キーワード検索", search_path %>
    <%= link_to "タグ検索", tags_path %>
    <%= link_to "ユーザー一覧", users_path %>
    <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ユーザー登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
</header>
