<div class="section tag_heading_section">
  <h2><%= "タグ検索：#{@tag.tag_name}" %></h2>
</div>

<div class="section tag_form_section">
  <%= form_with url: tag_path, method: :get, local: true do |f| %>
    <div class="field list_id_field">
      <div class="field_row">
        <%= f.label :list_id, "●リスト番号 ［任意］" %>
        <%= f.number_field :list_id, value: params[:list_id], min: 1, class: "list_id_input" %>
        <%= f.submit "送信" %>
      </div>
      <p class="note">
        ※入力した場合、指定リスト内のアイテムのみをタグ検索。<br>
        ※リスト内のタグリンクをクリックした場合は、自動入力される。
      </p>
    </div>
  <% end %>
</div>

<%# item.rb (scope :sort_by_item_tag_score_asc ／ _desc) ：1つのタグに紐づくスコアで、アイテムを並び替え。 %>
<div class="section tag_items_section">
  <h4>●タグを含むアイテム一覧</h4>
  <p class="note">※画像を原寸大サイズで表示：画像を右クリック→「新しいタブで画像を開く」をクリック。</p>
  <div class="link_bar">
    <%= "検索件数：#{@items.count}" %>
    <%= sort_link(@q, :item_name, "並び替え（アイテム名）") %>
    <%= sort_link(@q, :updated_at, "並び替え（アイテム更新日時）") %>
    <%= sort_link(@q, :item_tag_score, "並び替え（タグスコア）") %>
  </div>

  <%= render "shared/item_table" %>
</div>
