<div class="section search_heading_section">
  <h2>キーワード検索</h2>
</div>

<div class="section search_form_section">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <div class="field search_word_field">
      <%= f.label :word, "●検索ワード" %>
      <%= f.text_field :word, value: params[:word], autofocus: true %>
    </div>

    <div class="field condition_field">
      <div class="field_row">
        <%= f.radio_button :condition, :AND, checked: params[:condition] == "AND" || params[:condition] == nil %>
        <%= f.label :condition_and, "AND 検索" %>
        <span class="note">※スペースで区切った複数ワードを全て含む。</span>
      </div>
      <div class="field_row">
        <%= f.radio_button :condition, :OR, checked: params[:condition] == "OR" %>
        <%= f.label :condition_or, "OR 検索" %>
        <span class="note">※スペースで区切った複数ワードのいずれかを含む。</span>
      </div>
    </div>

    <div class="field model_field">
      <div class="field_row">
        <%= f.radio_button :model, :List, checked: params[:model] == "List" || params[:model] == nil %>
        <%= f.label :model_list, "リスト検索" %>
        <span class="note">※ワードがリスト or アイテム or タグに含まれるリストを表示。</span>
      </div>
      <div class="field_row">
        <%= f.radio_button :model, :Item, checked: params[:model] == "Item" %>
        <%= f.label :model_item, "アイテム検索" %>
        <span class="note">※ワードがアイテム or タグに含まれるアイテムを表示。</span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "送信" %>
    </div>
  <% end %>
</div>

<% if @lists.present? %>
  <div class="section search_lists_section">
    <h4>●キーワードを含むリスト一覧</h4>
    <div class="link_bar">
      <%= "検索件数：#{@lists.length}" %>
      <span class="note">※列の見出しをクリックして並び替え。</span>
    </div>

    <%= render "shared/list_table" %>
  </div>
<% end %>

<% if @items.present? %>
  <div class="section search_items_section">
    <h4>●キーワードを含むアイテム一覧</h4>
    <p class="note">※画像を原寸大サイズで表示：画像を右クリック→「新しいタブで画像を開く」をクリック。</p>
    <div class="link_bar">
      <%= "検索件数：#{@items.length}" %>
      <%= sort_link(@q, :item_name, "並び替え（アイテム名）") %>
      <%= sort_link(@q, :updated_at, "並び替え（アイテム更新日時）") %>
    </div>

    <%= render "shared/item_table" %>
  </div>
<% end %>
