<%= form_with model: @item_form, url: url, method: method, local: true do |f| %>
  <div class="field">
    <%= f.label :item_name, "アイテム名 [必須]" %><br>
    <%= f.text_field :item_name, size: "50x1", autofocus: true %>
    <br><br>
  </div>

  <div class="field">
    <%= f.label :description, "説明 [任意]" %><br>
    <%= f.text_area :description, size: "50x5" %>
    <br><br>
  </div>

  <%# 画像ファイル選択ボタンを4つ実装(multipleは不使用) ：別ディレクトリから選択可。ファイル名を別個に表示可。 %>
  <div class="actions">
    <%= f.label :images, "画像（最大4枚） [任意]" %><br>
      <% 4.times do %>
        <%= f.file_field :images, name: "item_form[images][]" %><br>
      <% end %>
    <br><br>
  </div>

  <% 4.times do |i| %>
    <div class="field">
      <%= f.label :tag_name, "タグ名(#{i+1}) [任意]" %>
      <%= f.text_field :tag_name, name: "item_form[tag_names][]", id: "item_form_tag_name_#{i+1}", value: @item_form.tag_names[i], maxlength: "25", placeholder: "25文字以内", size: "50x1" %>
      <div id=<%= "search_results_#{i+1}" %>></div>
      <br>
    </div>

    <div class="field">
      <%= f.label :score, "スコア(#{i+1}) [任意]" %>
      <%= f.number_field :score, name: "item_form[scores][]", value: @item_form.scores[i], min: 1, max: 5 %>
      <br><br><br>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '送信' %>
  </div>
<% end %>
